# pandas 자료구조 Series의 import

In [4]:
from pandas import Series, DataFrame
import pandas as pd

## 1. Series의 사용

### 1-1. Series 객체 생성하기

In [8]:
obj = Series([4,7,-5,3])

In [10]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [11]:
obj.values

array([ 4,  7, -5,  3])

In [12]:
obj.index

RangeIndex(start=0, stop=4, step=1)

### 1-2. 각각의 데이터를 지칭하는 색인을 지정해 Series 객체를 생성하기

In [14]:
obj2 = Series([4,7,5,-3], index=['d','b','a','c'])

In [15]:
obj2

d    4
b    7
a    5
c   -3
dtype: int64

In [16]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

### 1-3. 배열에서 값을 선택하거나 대입할 때는 색인을 이용해서 접근한다

In [20]:
obj2['a']

5

In [21]:
obj2['d'] = 6

In [22]:
obj2[['c','a','d']]

c   -3
a    5
d    6
dtype: int64

In [25]:
'b' in obj2

True

In [26]:
'e' in obj2

False

### 1-4. 파이썬 사전 객체로부터 Series 객체 생성하기

In [28]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj3 = Series(sdata)

In [29]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [35]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)

In [36]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 1-5. 누락된 데이터를 찾을때 사용하는 함수 : isnull과 notnull

In [38]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [39]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [40]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

### 1-6. 색인된 데이터에 대한 산술연산

In [41]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [42]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [43]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

### 1-7. Series 객체와 Series 색인의 name 속성

In [44]:
obj4.name = 'population'

In [45]:
obj4.index.name = 'state'

In [46]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

### 1-8. Series의 색인은 대입을 통해 변경할 수 있다.

In [54]:
obj.index = ['Bob','Steve','Jeff','Ryan']

In [56]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64