In [4]:
import pandas as pd
import numpy as np

In [7]:
smokers = pd.read_csv("smoke.csv")
smokers

   Gender  Age Smoker  HowLong  Cigarettes  Height  Waist   Hips  Weight
0       F   40     no        0           0   165.0   95.0   90.0    72.0
1       M   37     no        0           0   192.0   97.0   87.0   107.0
2       F   35    yes       28          15   175.0   70.0   80.0    65.0
3       M   61     no        0           0   187.5  105.0   87.5    95.0
4       F   60    yes       42          20   173.0   77.5   72.5    60.0
..    ...  ...    ...      ...         ...     ...    ...    ...     ...
94      F   18     no        0           0   165.0   80.0  100.0    73.0
95      F   17     no        0           0   167.0   83.0  103.0    78.0
96      F   20     no        0           0   183.0   80.0   89.0    65.0
97      F   23    yes        7          15   173.0   90.0  100.0    80.0
98      F   21    yes        8          25   161.0   92.0  103.0    86.0

[99 rows x 9 columns]

In [16]:
smokersnum = len(smokers)
print("레코드의 수는 %d개입니다.", smokersnum)

레코드의 수는 %d개입니다. 99